html,
body {
    margin: 0;
    height: 100%;
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
}

@mixin noborder {
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin locate($width:100%, $heigth:100%, $float:left, $position:relative) {
    width: $width;
    height: $heigth;
    float: $float;
    position: $position;
}

@mixin test($color) {
    background-color: $color;
}

.IDE {
    @include locate();
    @include test(aqua);
}

#tool-panel {
    @include locate(50px);
    @include test(red)
}

#logics-panel {
    @include locate(100px);
    @include test(green)
}

#templates-panel {
    @include locate(150px);
    @include test(yellow)
}

#main-panel {
    @include test(rgb(7, 6, 6));
    // position: relative;
    // float: left;
    margin-right: 0px;
    left: 0px;
    height: 100%;
}