html,
body {
  margin: 0;
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.IDE {
  background-color: aqua;
  border: solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#tool_panel {
  background-color: red;
  border: solid 1px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  width: 50px;
}

#logics_panel {
  background-color: green;
  border: solid 1px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  width: 100px;
}

#templates_panel {
  background-color: yellow;
  border: solid 1px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  width: 150px;
}

#code_panel {
  background-color: blue;
  border: solid 1px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  width: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#tool_logic {
  background-color: purple;
  border: solid 1px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

#tool_filesys {
  background-color: purple;
  border: solid 1px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.logic_block {
  background-color: aqua;
  border: solid 1px;
  height: 60px;
}

.templete_block {
  background-color: orange;
  border: solid 1px;
  height: 80px;
}

#main_code, #sub_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#sub_code {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#main_code_space, #sub_code_space {
  background-color: gray;
  border: solid 1px;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#sub_code_space {
  background-color: pink;
  border: solid 1px;
}

.code_block {
  background-color: red;
  border: solid 1px;
  margin: 2px;
  height: 46px;
  width: auto;
  border-radius: 5px;
  overflow-y: hidden;
  vertical-align: bottom;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_row_number_bar, #sub_row_number_bar {
  background-color: greenyellow;
  border: solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 30px;
  overflow: scroll;
}

#main_row_number_bar::-webkit-scrollbar, #sub_row_number_bar::-webkit-scrollbar {
  display: none;
}

#sub_row_number_bar {
  background-color: greenyellow;
  border: solid 1px;
}

.row_numbers {
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: purple;
  border: solid 1px;
}

#separator_of_code {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  cursor: row-resize;
  z-index: 999;
  height: 5px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#separator_of_code_ghost {
  background-color: green;
  cursor: row-resize;
  z-index: 100;
  height: 5px;
  width: 100%;
  visibility: hidden;
}

#separator2 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  width: 10px;
}

#location_of_sub_code_space {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.line_number_in_block {
  background-color: darkgray;
  border: solid 1px;
  margin: 7px;
  height: 30px;
  width: 30px;
}
/*# sourceMappingURL=basic.css.map */