html,
body {
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
}

.IDE {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  background-color: aqua;
}

#tool-panel {
  width: 50px;
  height: 100%;
  float: left;
  position: relative;
  background-color: red;
}

#logics-panel {
  width: 100px;
  height: 100%;
  float: left;
  position: relative;
  background-color: green;
}

#templates-panel {
  width: 150px;
  height: 100%;
  float: left;
  position: relative;
  background-color: yellow;
}

#main-panel {
  background-color: #070606;
  margin-right: 0px;
  left: 0px;
  height: 100%;
}
