html,
body {
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.IDE {
  background-color: aqua;
  border: solid 1px;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#tool_panel {
  background-color: red;
  border: solid 1px;
  order: 0;
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
  user-select: none;
  align-items: stretch;
  overflow: hidden;
  width: 50px;
}

#logics_panel {
  background-color: green;
  border: solid 1px;
  order: 1;
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
  user-select: none;
  align-items: stretch;
  overflow: hidden;
  width: 100px;
}

#templates_panel {
  background-color: yellow;
  border: solid 1px;
  order: 2;
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
  user-select: none;
  align-items: stretch;
  overflow: hidden;
  width: 150px;
}

#code_panel {
  background-color: blue;
  border: solid 1px;
  order: 3;
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
  user-select: auto;
  align-items: stretch;
  overflow: hidden;
  width: 10%;
  flex-grow: 1;
}

#tool_logic {
  background-color: purple;
  border: solid 1px;
  order: 0;
}

#tool_filesys {
  background-color: purple;
  border: solid 1px;
  order: 1;
}

.logic_block {
  background-color: aqua;
  border: solid 1px;
  height: 60px;
}

.templete_block {
  background-color: orange;
  border: solid 1px;
  height: 80px;
}

#main_code {
  display: flex;
  height: 50%;
  order: 2;
}

#sub_code {
  display: flex;
  height: 50%;
  order: 0;
}

#main_code_space {
  background-color: gray;
  border: solid 1px;
  overflow-x: auto;
  overflow-y: visible;
  flex-direction: column;
  width: 100%;
}

#sub_code_space {
  background-color: pink;
  border: solid 1px;
  overflow-x: auto;
  overflow-y: visible;
  flex-direction: column;
  width: 100%;
}

.code_block {
  background-color: red;
  border: solid 1px;
  margin: 2px;
  height: 46px;
  width: auto;
  display: inline-block !important;
  border-radius: 5px;
}

#main_row_number_bar {
  background-color: greenyellow;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30px;
}

#sub_row_number_bar {
  background-color: greenyellow;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30px;
  overflow: auto;
}

.row_numbers {
  height: 50px;
  background-color: purple;
  border: solid 1px;
}

#separator_of_code {
  order: 1;
  cursor: row-resize;
  z-index: 999;
  height: 5px;
}

#separator2 {
  order: 5;
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
  user-select: none;
  align-items: stretch;
  overflow: hidden;
  width: 10px;
}
